body{
    width: 100%;
    height: auto;
    background: url('images/background.png');
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    margin: 0 auto;
    clear: both;
    position: relative;
    min-height: 860px;
}
canvas {
    display: block;
    position: absolute;
    margin: auto;
    margin-top: 220px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 150px;
}
#titlesign {
    width: 800px;
    height: 600px;
    background-image: url(images/teethborder.png);
    position: absolute;
    left: -400px;
    top: 110px;
}
#container {
    position: absolute;
    left: 50%;
    z-index: 999;
}
#container2 {
    position: absolute;
    margin: auto;
    margin-top: 500px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#myscore {
    position: absolute;
    left: 2%;
    top: 68%;
    color: red;
    padding: 10px;
    font-family: fantasy;
    font-size: x-large;

}
    